<footer class="footer">
    <%- css('css/footer.css') %>
    <div class="footer-container">
        <div class="footer-inner">
            <div class="footer-content">
                <a href="https://hexo.io" target="_blank" rel="nofollow noopener"><span>Hexo</span></a> <i class="iconfont icon-love"></i> <a href="https://github.com/harkerhand/hexo-theme-zzz" target="_blank" rel="nofollow noopener"><span>ZZZ</span></a> 
            </div>
        </div>
    </div>
</footer>