<% if (item.banner_img){ %>
  <script type="text/javascript"> console.log("Banner image loaded" + <%= (item.banner_img || theme.default_cover_image) %>); </script>
  <div class="img-container">
    <img class="page-img" src="<%= (item.banner_img || theme.default_cover_image).startsWith('http') ? (item.banner_img || theme.default_cover_image).replace(/^\\/, '') : (config.root + (item.banner_img || theme.default_cover_image).replace(/^\\/, '')) %>" alt="<%- item.title || 'Untitled' %>">
  </div>
  <% } %>
  
<div class="content-container">
  <div class="inner-content">
    <%- item.content %>
  </div>
</div>