<%
item.subtitle = item.subtitle || item.title
item.banner_img = item.banner_img || theme.post.banner_img
%>

<% if (item.banner_img){ %>
  <div class="img-container">
    <img class="item-img" src="<%- url_handler(item.banner_img) %>" alt="<%- item.title || 'Untitled' %>">
  </div>
  <% } %>
  
<div class="content-container">
  <div class="inner-content">
    <%- item.content %>
  </div>
</div>